/* Import Css Base */
@import url("../assets/css/base.css");

/* Css for Donor Page */

/* Options for User */

/* MAIN */
.main {
  margin-top: var(--header-height);
  display: flex;
  min-height: 100vh;
  padding-top: 20px;
  position: relative;
}

/* Main Center */
.main__center {
  width: 100%;
  margin-left: 96px;
}

/* HEADER */
.center__header {
  width: 100%;
  height: 300px;
  position: relative;
}

.center__header-background {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.center__header-background img {
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: 0 -55px;
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  filter: blur(2px);
}

.center__header-title {
  position: absolute;
  top: 40px;
  color: var(--white-color);
  padding: 0 30px;
  text-shadow: 1px 1px 2px rgb(105, 105, 105), 0 0 1em rgb(88, 88, 88),
    0 0 0.2em rgb(87, 87, 87);
}

.center__header-title h1 {
  font-size: 60px;
}

.center__header-title h3 {
  font-size: 24px;
  line-height: 1.6;
}

.center__header-title p {
  font-size: 16px;
}

.center__header-title p a {
  color: var(--blue-color);
}

/* CONTENT */
.center__content {
  margin: 50px 0;
  padding: 0 50px;
}

.content__item {
  width: 100%;
  height: 200px;
  margin: 15px 0;
  position: relative;
}

.content__item a {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.content__item-img {
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}

.content__item-title {
  position: absolute;
  bottom: 20px;
  color: var(--white-color);
  padding-left: 20px;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 0px 5px 10px var(--black-color);
}

/* Storage */
.storage {
  padding-left: 15px;
}

.storage__list {
  width: 100%;
}

.storage__list-item {
  color: var(--white-color);
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.storage__list-item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}

.storage__list-item--desc {
  position: absolute;
  top: 0;
  color: var(--white-color);
  inset: 0;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 2px rgb(226, 121, 121), 0 0 1em rgb(236, 135, 135),
    0 0 0.2em rgb(240, 124, 124);
}

.item__bloodType {
  font-size: 75px;
}

.storage__list-item--amount {
  font-size: 25px;
}

/* FORM DONATE */
.donate {
}

.donate__statistical {
  margin-bottom: 50px;
}

.statistical__item {
  height: 280px;
}

.statistical__item-background,
.statistical__item-background img {
  width: 100%;
  height: 100%;
}

.statistical__item-background {
  position: relative;
}

.statistical__item-background img {
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 6px;
  /* filter: brightness(80%); */
  filter: blur(2px);
}

.statistical__item--content {
  position: absolute;
  top: 0;
  padding: 20px;
  color: var(--white-color);
  text-shadow: 1px 1px 2px rgb(139, 150, 255), 0 0 1em rgb(149, 151, 255),
    0 0 0.2em rgb(112, 136, 247);
}

.statistical__item--content h2 {
  font-size: 70px;
  margin-bottom: 4px;
}

.statistical__item--content h3 {
  font-size: 25px;
  margin-bottom: 4px;
}

.statistical__item--content p {
  font-size: 17px;
  line-height: 1.4;
}

/* Donate Form */
.donate__form {
  border-radius: 10px;
  overflow: hidden;
  width: 720px;
  margin: 0 auto;
  border: 1px solid var(--gray-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.form__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background: var(--blue-light-color);
  text-align: center;
  font-size: 40px;
  color: var(--white-color);
}

.donate__form-group {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.donate__form-group label {
  font-weight: 500;
  line-height: 1.6;
}

.donate__form-group input,
.donate__form-group select {
  border-radius: 6px;
  height: 38px;
  border: 1px solid var(--blue-light-color);
  outline: none;
}

.donate__form-group input.invalid,
.donate__form-group select.invalid {
  border: 1px solid var(--primary-color);
}

.donate__form-group span {
  color: var(--primary-color);
  font-size: 14px;
  padding-top: 4px;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__item input {
  accent-color: var(--form-primary-color);
}

.donate__form-submit {
  padding: 12px 40px;
  margin: 20px auto;
}

.radio {
  display: flex;
  align-items: center;
}

/* Setting */
.main__setting {
  position: relative;
  color: var(--black-color);
  width: 100%;
  margin: 20px 0 50px;
}

.setting__back-btn {
  position: absolute;
  font-size: 30px;
  padding: 0 10px;
  cursor: pointer;
}

.setting__back-btn:hover {
  transition: 0.3s ease;
  left: -5px;
  color: var(--gray-color);
}

.setting__hero {
  margin: 50px 0 20px;
  font-size: 40px;
  font-weight: 600;
}

.main__setting h4 {
  font-size: 20px;
  border-bottom: 1px solid var(--gray-light-color);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}

.setting__form {
  display: flex;
  align-items: center;
  margin: 0 120px 20px;
  justify-content: space-between;
}

.setting__form-left {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.setting__form-name {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 6px;
}

.setting__form-left input,
.bloodgroup {
  height: 38px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--gray-light-color);
  color: var(--gray-color);
}

.setting__form-right {
  display: flex;
}

.setting__form-btn {
  margin: 0 5px;
  height: 38px;
  min-width: 80px;
  border-radius: 20px;
  color: var(--gray-color);
  border: 1px solid #ccc;
  background-color: var(--white-color);
}

.setting__form-btn:hover {
  border: 1px solid var(--black-color);
  transition: all 0.3s;
}

.btn-save {
  border: 1px solid var(--blue-light-color);
}

.btn-save:hover {
  border: 1px solid var(--blue-light-color);
}

.setting__form-right--editmode {
  display: none;
}
