@import url("../assets/css/base.css");

.main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main::before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/img/login-background.jpg");
  background-size: cover;
  bottom: -5px;
  content: "";
  -webkit-filter: blur(5px);
  filter: blur(5px);
  filter: brightness(60%);
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: -1;
}

.login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  z-index: 2;
}

.login__content {
  --width: 640px;
  background: #fff;
  border-radius: 8px;
  max-width: calc(100vw - 32px);
  min-height: 500px;
  padding: 48px 16px;
  position: relative;
  width: var(--width);
}

.login__content-logo {
  margin-bottom: 20px;
  font-size: 60px;
  color: var(--primary-color);
}

.login__content-logo--icon {
  cursor: pointer;
}

.login__content-title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
}

.login__content-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* MAIN */

/* Main Input */
.main__input {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.main__input-item {
  background: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.06);
  border-radius: 44px;
  display: flex;
  height: 44px;
  overflow: hidden;
  margin-bottom: 12px;
}

.main__input-item input {
  background-color: transparent;
  border: none;
  display: block;
  flex: 1 1;
  font-size: 1rem;
  outline: none;
  padding: 12px 20px;
}

.main__input-btn {
  margin-top: 12px;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--blue-color);
}

.main__input-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.25s;
}

/* Main Bottom */
.main__bottom {
  margin-top: 40px;
}

.main__input-dontHaveAcc {
  display: flex;
  margin-bottom: 15px;
}

.main__input-dontHaveAcc--link,
.main__input-forgotPassword {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
}

.main__input-dontHaveAcc--link {
  margin-left: 4px;
}

/* About */
.login__about {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.login__about span {
  color: var(--white-color);
}

.login__about-link {
  text-decoration: none;
  color: var(--white-color);
  margin: 0 20px;
  /* opacity: 1; */
}

.login__about-link:hover {
  opacity: 0.9;
}
