@import url("../assets/css/base.css");
@import url("../assets/css/header-footer.css");

/* MAIN */
.main {
  margin-top: var(--header-height);
  display: flex;
  min-height: 100vh;
  padding-top: 20px;
  position: relative;
}

.main__center {
  width: 100%;
  margin-left: 96px;
}

.main__header h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ORDER */
.hospital__waitConfirm {
  border-radius: 10px;
  /* border: 1px solid var(--gray-color); */
  height: 100%;
}

.hospital__waitConfirm-item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray-light-color);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.hospital__waitConfirm-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.waitConfirm__info {
  height: 68px;
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 10px;
}

.waitConfirm__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__item-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.info__item-desc {
  display: flex;
  align-items: center;
}

.waitConfirm__more {
  border-top: 1px solid var(--gray-light-color);
  padding-top: 5px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.hospital__waitConfirm-item.active .waitConfirm__more {
  display: flex;
}

.waitConfirm__more-left {
  flex: 1;
}

.waitConfirm__more-item {
  display: flex;
}

.waitConfirm__more-item {
  padding: 5px 0;
}

.more__item-name {
  font-weight: 600;
  padding-right: 5px;
}

.waitConfirm__options {
  display: flex;
  margin-left: 20px;
}

.options-btn {
  height: 38px;
  min-width: 80px;
  border-radius: 20px;
  text-align: center;
  display: grid;
  place-content: center;
  margin: 0 5px;
  cursor: pointer;
}

.btn-approve,
.btn-done {
  background-color: var(--blue-light-color);
  color: var(--white-color);
}

.btn-refuse,
.btn-cancel {
  border: 1px solid var(--primary-color);
}

/* STORAGE */
.storage {
  width: 100%;
  margin: 0;
}

.storage__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.storage__item-block {
  border: 1px solid var(--gray-light-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: grid;
  place-content: center;
  background-color: var(--white-color);
  color: var(--primary-color);
  text-align: center;
}

.storage__bloodtype-name {
  font-size: 90px;
  font-weight: 700;
}

.storage__item-block p {
  font-size: 28px;
}
